@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  font-family: 'Beth Ellen', cursive;
  /* font-family: 'Yellowtail', cursive; */
  background-image: url('./imgs/background.jpg');
}

.paper{
  background-image: url('./imgs/paper.jpg');
}

.torn-paper{
  background-image: url('./imgs/torn_paper.png');
}

.notebook{
  background-image: url('./imgs/notebook.png');
}

.notebook2{
  background-image: url('./imgs/notebook.jpg');
}

.crumbledpaper{
  background-image: url('./imgs/crumpled_paper.jpg');
}